<!--
  Generated template for the DetailsMoviePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>DetailsMovie</ion-title>
  </ion-navbar>


  <button ion-button (click)="ViewTrailer()" style="width:100%;background-color: cadetblue;">View trailer</button>
  <button ion-button (click)="download()" style="width:100%;background-color: rgb(113, 160, 95);">Download</button>
  <ion-content padding style="height:100%;padding-top:100% ;padding-bottom: 100%;width: 100%;background-color: rgba(61, 61, 61, 0.829) ;">
 
    <ion-grid>
      <ion-row>
        <ion-title
          style="color:rgb(255, 190, 166); background-color:  rgba(102, 102, 102, 0) ;width:100%;font-weight:bold;margin: 0;">
          {{items.Title}}
          <button ion-button icon-only (click)="unfavoriteFilm()" *ngIf="isFavorite">
            <ion-icon name="star"></ion-icon>
          </button>
          <button ion-button icon-only (click)="favoriteFilm()" *ngIf="!isFavorite">
            <ion-icon name="star-outline"></ion-icon>
          </button>
        </ion-title>
        <ion-col>
            <img [src]=imageUrl >
          <!--<img src={{items.Poster}}>-->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card
            style="color:rgb(255, 190, 166); background-color:  rgba(102, 102, 102, 0.829) ;width:100%;font-weight:bold;margin: 0;">
            {{items.Released}}
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>